*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* Header */
.nav-bar{
    background-color: #1e212e;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;
}

.logo a img{
    padding: 10px;
    width: 80px;
    height: 80px;
}

.logo p{
    color: #ddd;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 28px;
    transition: color 0.3s;
}

.logo p:hover{
    color: #fff;

}


.links{
    display: flex;
   
}

.links a{
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    padding: 5px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
}

.links a::after{
    content : "";
    display: block;
    height: 4px;
    width: 100%;
    background-color: #f9c87b;
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.3s ease;

}

.links a:hover::after{
    transform: scale(1);
}


/* Hero Section*/
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    height: 80vh;
    background-image: url("/img/hero.jpg");
    background-size: cover ;
}



.d-text{
    color: #ddd;
    font-size: 89px; 
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: bold;
    margin-left: 90px;
    font-optical-sizing: auto;
    transition: color 1s ease-in-out;
}

.d-text:hover{
    color: #fff;
}


.search-area {
    display: flex;
    align-items: center;
    margin : 10vw;
}

.search-area input {
    width: 25vw;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
}

.search-area button {
    padding: 10px 20px;
    background-color: #f9c87b;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.search-area button i {
    font-size: 18px;
    color: #1e212e;
}


/* Quote Section*/
.quote{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100vw; */
    height: 10vh;
    background-color: #f9f9f9;
}

.quote p{
    color: #1e212e;
    font-family: "Kings", cursive;
    font-weight: 500;
    font-style: bold;
    font-size: x-large;
}
